body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* --------------------------------RESET-------------------------- */

/* * {
  margin: 0;
  padding: 0;
} */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/* -------------------------------RESET-------------------------- */

/* -----------------------------COMMON-------------------------- */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* -----------------------------COMMON-------------------------- */

/* -----------------------------HEADER--------------------------- */

.header-main {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-main {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo-primary {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.logo-secondary {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}

.header-adress {
  font-weight: 400;
  font-style: normal;
  color: #434455;
  margin-left: auto;
}

.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-item {
  display: block;
  padding: 24px 0;
}

.adress:hover,
.adress:focus {
  color: #404bbf;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* -----------------------------HEADER--------------------------- */

/* ------------------------------SOLUTION--------------------------- */

.solution {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.solution-text {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.solution-button {
  min-width: 169px;
  height: 56px;
  border: 0;
  border-radius: 4px;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.solution-button:hover,
.solution-button:focus {
  background-color: #404bbf;
}

/* ------------------------------SOLUTION--------------------------- */

/* ------------------------------BENEFITS--------------------------- */

.benefits {
  display: flex;
  justify-content: space-between;
  gap: 24;
}

.benefits-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  visibility: hidden;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.benefits-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------------BENEFITS--------------------------- */

/* ------------------------------TEAM--------------------------- */

.team {
  background: #f4f4fd;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-block {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 32px 65px 0 65px;
  margin-bottom: 8px;
}

.team-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
  gap: 24px;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding: 0 68px 32px 68px;
}

/* ------------------------------TEAM--------------------------- */

/* ----------------------------PORTFOLIO--------------------------- */

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: calc((100% - 96px) / 6); */
  gap: 24px;
}

.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding: 0px 0px 72px 0px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* padding: 32px 226px 8px 16px; */
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  /* padding: 0 314px 32px 16px; */
}

/* ----------------------------PORTFOLIO--------------------------- */

/* -----------------------------FOOTER--------------------------- */

.footer-main {
  background: #2e2f42;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

/* -----------------------------FOOTER--------------------------- */
